@import "./base.css";

@page {
  size: A5;
  margin-top: 2.5cm;
  margin-right: 3.5cm;
  margin-bottom: 3.5cm; 
  margin-right: 2cm;
}

@page :left {
  margin-left: 3.5cm;
  margin-right: 2cm;
  @bottom-left { content: counter(page) }
  @top-left { content: var(--title); font-size: 8pt; };
}

@page :right {
  margin-left: 2cm;
  margin-right: 3.5cm;
  @bottom-right { content: counter(page) };
  @top-right { content: var(--author); font-size: 8pt; };
}

.cover { page: cover }

@page cover {
  margin: 2cm;
  @bottom-right  { content: none; }
  @bottom-center { content: none; }
  @bottom-left   { content: none; }
  @top-right     { content: none; }
  @top-left      { content: none; }
}

.frontmatter { page: frontmatter }

@page frontmatter {
  @top-right     { content: none; }
  @top-left      { content: none; }
  @bottom-right  { content: none; }
  @bottom-center { content: none; }
  @bottom-left   { content: none; }
}

.pagedjs_margin-top {
  padding-bottom: 14pt;
  align-items: flex-end !important;
}

.pagedjs_margin-bottom {
  padding-top: 14pt;
  align-items: flex-start !important;
}

body {
  font-size: 10pt;
  line-height: 14pt;
  margin: 0;
}

.cover {
  break-before: right;
  break-after: page;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.cover h1 { font-size: 42pt; line-height: 44pt; }
.cover h2 { font-size: 18pt; }

.vert {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
}

hr {
  display: none;
  break-before: page;
}

.pagebreak {
  break-after: page;
}

.margin {
  clear: both;
  width: 2.5cm;
  font-size: 0.8em;
  line-height: 1.2;
}

.bibliography {
  break-before: right;
}


/* PARAGRAPH MODE */
p {
  margin-bottom: 0;
  text-indent: 1.5em;
}

h1 + p,
h2 + p,
h3 + p,
blockquote + p,
figure + p,
hr + p,
.cover + p,
p:first-child,
p[data-split-from] /* tail of paragraph paged.js split across page break */
{
  text-indent: 0;
}

.frontmatter p, blockquote p, figure p {
  text-indent: 0;
  margin-bottom: 1em;
}
/* END PARAGRAPH MODE */

