@import "./base.css";

@page {
  size: A5;
  margin-top: 2cm;
  margin-right: 3.5cm;
  margin-bottom: 3.5cm; 
  margin-right: 2cm;
}

@page :left {
  margin-left: 3.5cm;
  margin-right: 2cm;
  @bottom-left { content: counter(page) }
}

@page :right {
  margin-left: 2cm;
  margin-right: 3.5cm;
  @bottom-right { content: counter(page) }
}

@page cover {
  margin: 2cm;
  @bottom-right  { content: none; }
  @bottom-center { content: none; }
  @bottom-left   { content: none; }
}

.pagedjs_margin-bottom {
  padding-top: 14pt;
  align-items: flex-start !important;
}

body {
  font-size: 10pt;
  line-height: 14pt;
  margin: 0;
}

.cover {
  page: cover;
  break-before: right;
  break-after: page;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.cover h1 { font-size: 48pt; }
.cover h2 { font-size: 18pt; }

hr {
  display: none;
  break-before: page;
}

.pagebreak {
  break-after: page;
}

.margin {
  clear: both;
  width: 2.5cm;
  font-size: 0.8em;
  line-height: 1.2;
}

.bibliography {
  break-before: right;
}
